---
const testimonials = [
  {
    name: 'Aaron Gould',
    message:
      '“Absolute pros from the very first phone call. Went way beyond what I expected, and we’re in and out really quickly. Can’t recommend these guys enough, they did an amazing job and were a pleasure to deal with. So happy I found them. I’m always hesitant to hire people because you never know what you’re going to get, but I have zero regrets hiring them, even though it was a relatively small job for them, they treated me right and for a great price as well. Thanks again guys!”',
  },
  {
    name: 'Benjamin Moore',
    message:
      '“Mitch and his guys were quick, professional, and fun to be around while they were working. They easily removed tons (literally) of broken, sunken and cracked concrete around my building in Detroit. I’d recommend them to friends and family without hesitation...”',
  },
  {
    name: 'Greg Messenger',
    message:
      "“We were working out of town on a concrete project. We had another company lined up for a week to haul some concrete away for us. Working two hours away on a very fast pace project it really put us in a bind when the other company didn't show up. I had my secretary do a Google search and found Mitch. He was at our site within an hour. He went out of his way which really meant a lot considering we are from out of town and a competing in his area. He put faith in us for payment as he wasn't able to accept cc. When he arrived he went above and beyond and loaded it himself with his own equipment which was not part of the deal. This is the first review I have ever wrote but he really deserved it. Great guy with nice equipment!”",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="v mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col items-center gap-12 lg:gap-20">
      <h2 class="mx-auto max-w-xl text-center text-3xl font-medium tracking-tight sm:text-4xl">
        Trusted by the community
      </h2>
      <div
        class="grid divide-y divide-primary-900/10 dark:divide-primary-300/10 lg:grid-cols-3 lg:divide-x lg:divide-y-0"
      >
        {
          testimonials.map((testimonial) => (
            <figure class="mx-auto flex max-w-lg flex-col items-center gap-6 py-8 lg:px-8 lg:py-0">
              <div class="flex flex-row gap-2">
                {[...Array(3)].map(() => (
                  <svg
                    class="h-6 w-6 text-primary-600 dark:text-primary-400"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path d="M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z" />
                  </svg>
                ))}
              </div>
              <blockquote class="text-center text-lg italic leading-loose text-primary-950/70 dark:text-primary-200/70">
                <p>{testimonial.message}</p>
              </blockquote>
              <figcaption class="flex flex-col gap-4">
                <div class="text-center">
                  <div class="text-base font-medium">{testimonial.name}</div>
                </div>
              </figcaption>
            </figure>
          ))
        }
      </div>
      <a
        class="underline"
        href="https://www.google.com/search?q=mitchco+construction&sourceid=chrome&ie=UTF-8#lrd=0x8824cf4234ffffff:0xe38f7afcb7a9faa6,1,,,,"
        >View more</a
      >
    </div>
  </div>
</section>
